Repository nsquared-team/draw-attention, changes with the owners that CODEOWNERS names for each.
All owners: @nataliemac, @tylerdigital, @aminabdulkhalek, @cynhu92, @Hamze-Ammar, @hsein-bitar, @MariamElZaatari, @gnarza, @NatalieMac, @nsquared-team/backend-development, @nsquared-team/frontend-development, @nsquared-team/quality-assurance, @nsquared-team/customer-support

CODEOWNERS:

# Any change inside the `/` directory
# will require approval from @nataliemac.
* @nataliemac

# Except for any PHP files
*.php @tylerdigital

# Explicitly required reviewers can be set for each PR by modifying something in the following paths
.github/code-review/require-person/aminabdulkhalek/PR-* @aminabdulkhalek
.github/code-review/require-person/cynhu92/PR-* @cynhu92
.github/code-review/require-person/Hamze-Ammar/PR-* @Hamze-Ammar
.github/code-review/require-person/hsein-bitar/PR-* @hsein-bitar
.github/code-review/require-person/MariamElZaatari/PR-* @MariamElZaatari
.github/code-review/require-person/gnarza/PR-* @gnarza
.github/code-review/require-person/NatalieMac/PR-* @NatalieMac
.github/code-review/require-person/tylerdigital/PR-* @tylerdigital

.github/code-review/require-team/backend-development/PR-* @nsquared-team/backend-development
.github/code-review/require-team/frontend-development/PR-* @nsquared-team/frontend-development
.github/code-review/require-team/quality-assurance/PR-* @nsquared-team/quality-assurance
.github/code-review/require-team/customer-support/PR-* @nsquared-team/customer-support

Requiring review from 'MariamElZaatari' ci bypass
  .github/code-review/require-person/MariamElZaatari/PR-11
Owners: @MariamElZaatari

Requiring review from 'Hamze-Ammar' ci bypass
  .github/code-review/require-person/Hamze-Ammar/PR-11
Owners: @Hamze-Ammar

Increased stable tag
  readme.txt
Owners: @nataliemac

2.0.2 Changelog
  draw-attention.php
  public/class-drawattention.php
  readme.txt
Owners: @tylerdigital, @nataliemac

Fix svg desc markup
  public/assets/js/public.js
Owners: @nataliemac

Requiring review from 'NatalieMac' ci bypass
  .github/code-review/require-person/NatalieMac/PR-12
Owners: @NatalieMac

Requiring review from 'gnarza' ci bypass
  .github/code-review/require-person/gnarza/PR-12
Owners: @gnarza

Requiring review from 'cynhu92' ci bypass
  .github/code-review/require-person/cynhu92/PR-12
Owners: @cynhu92

Fix PHP warning with wp_insert_post
  public/includes/import-export.php
Owners: @tylerdigital

2.0.3
  draw-attention.php
  public/class-drawattention.php
  readme.txt
Owners: @tylerdigital, @nataliemac

Cleanup of required reviewers files
  .github/code-review/require-person/cynhu92/PR-12
  .github/code-review/require-person/gnarza/PR-12
Owners: @cynhu92, @gnarza

2.0.4
  draw-attention.php
  public/class-drawattention.php
  readme.txt
Owners: @tylerdigital, @nataliemac

Use main branch instead of latest for asana syncing
  .github/workflows/asana.yaml
Owners: @nataliemac

initial implementation of the release workflow
  .github/workflows/release.yml
Owners: @nataliemac

minor fixes to not bump version just yet
  .github/workflows/release.yml
Owners: @nataliemac

grunt tasks initial checkout
  .gitignore
  Gruntfile.js
  package.json
Owners: @nataliemac

initial github release workflow
  .github/config/changelog_configuration.json
  .github/config/dev_changelog_configuration copy.json
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  CHANGELOG.md
  readme.txt
Owners: @nataliemac

wip
  .github/workflows/release.yml
Owners: @nataliemac

unifying the version increment workflow
  package.json
Owners: @nataliemac

2.0.5
  package.json
Owners: @nataliemac

included grunt as dev dependencies
  package.json
Owners: @nataliemac

incrementing php files version successfully
  Gruntfile.js
Owners: @nataliemac

update the correct readme.txt file
  Gruntfile.js
Owners: @nataliemac

working grunt setup for incrementing version
  Gruntfile.js
Owners: @nataliemac

testing part one of the release workflow
  .github/workflows/release.yml
  .gitignore
  Gruntfile.js
  assets/repo/screenshot-1.png
  assets/repo/screenshot-2.png
  assets/repo/screenshot-3.png
  assets/repo/screenshot-4.png
  assets/repo/screenshot-5.png
  package.json
Owners: @nataliemac

trying to run workflow
  .github/workflows/release.yml
Owners: @nataliemac

test run
  .github/workflows/release.yml
Owners: @nataliemac

test run
  .github/workflows/release.yml
Owners: @nataliemac

test run
  .github/workflows/release.yml
Owners: @nataliemac

minor fixes
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Owners: @nataliemac

minor fixes
  .github/workflows/release.yml
Owners: @nataliemac

cleanup
  .github/workflows/deploy.yml
Owners: @nataliemac

finalizing
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  readme.txt
Owners: @nataliemac

reference slack webhook from secrets
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Owners: @nataliemac

renamed the dev changelog config to not include 'copy'
  .github/config/dev_changelog_configuration.json
Owners: @nataliemac

dequeue responsive-image-maps scripts
  draw-attention.php
Owners: @tylerdigital

refactored to take into consideration the global namespace and having less performance hit by avoiding database calls
  draw-attention.php
Owners: @tylerdigital

Show Only Image If Feed Detected
  public/views/shortcode_template.php
Owners: @tylerdigital

fixed release path
  .github/workflows/deploy.yml
Owners: @nataliemac

uncommented logic for live testing
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Owners: @nataliemac
