Repository nsquared-team/draw-attention, changes with the owners that CODEOWNERS names for each.
All owners: @nataliemac, @tylerdigital, @aminabdulkhalek, @cynhu92, @Hamze-Ammar, @hsein-bitar, @MariamElZaatari, @gnarza, @NatalieMac, @nsquared-team/backend-development, @nsquared-team/frontend-development, @nsquared-team/quality-assurance, @nsquared-team/customer-support

Update to 2.0.5 [version-bump]
  CHANGELOG.md
  README.md
  draw-attention.php
  package.json
  public/class-drawattention.php
  readme.txt
Owners: @nataliemac, @tylerdigital

Fix undefined index warning
  public/class-drawattention.php
Owners: @tylerdigital

Update to 2.0.6 [version-bump]
  CHANGELOG.md
  README.md
  draw-attention.php
  package.json
  public/class-drawattention.php
  readme.txt
Owners: @nataliemac, @tylerdigital

Fix Assets
  .github/workflows/deploy.yml
  assets/banner-772x250.png
  assets/icon-256x256.png
Owners: @nataliemac

Update to 2.0.7 [version-bump]
  CHANGELOG.md
  README.md
  draw-attention.php
  package.json
  public/class-drawattention.php
  readme.txt
Owners: @nataliemac, @tylerdigital

moved all assets inside the repo directory
  assets/repo/banner-772x250.png
  assets/repo/icon-256x256.png
  assets/repo/index.php
Owners: @nataliemac, @tylerdigital

Update to 2.0.8 [version-bump]
  CHANGELOG.md
  README.md
  draw-attention.php
  package.json
  public/class-drawattention.php
  readme.txt
Owners: @nataliemac, @tylerdigital

Add hi resolution banner to wp.org assets
  assets/repo/banner-1544x500.png
Owners: @nataliemac

WordPress 6.2 Compatibility
  readme.txt
Owners: @nataliemac

Update to 2.0.9 [version-bump]
  CHANGELOG.md
  README.md
  draw-attention.php
  package.json
  public/class-drawattention.php
  readme.txt
Owners: @nataliemac, @tylerdigital

allow deploying a specific tag to WP.org using workflow dispatch input
  .github/workflows/deploy.yml
Owners: @nataliemac

cleanup
  .github/workflows/release.yml
Owners: @nataliemac

allow creating a GitHub release from the current master branch
  .github/workflows/release.yml
Owners: @nataliemac

fixed slack notifications and improved message template
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Owners: @nataliemac

omit the empty_content field so that the title of an empty category will not be included
  .github/config/changelog_configuration.json
Owners: @nataliemac

cleanup
  .github/workflows/release.yml
Owners: @nataliemac

fixed syntax error
  .github/workflows/deploy.yml
Owners: @nataliemac

formatting changelog for slack notifications
  .github/workflows/release.yml
Owners: @nataliemac

switch notifications order
  .github/workflows/release.yml
Owners: @nataliemac

remove PR prefix from official changelog
  .github/config/changelog_configuration.json
Owners: @nataliemac

only update changelog if there are new changes
  .github/workflows/release.yml
Owners: @nataliemac

Update Draw Attention block to use api version 2
  admin/assets/js/draw-attention-block.js
  public/includes/class-block-image.php
Owners: @nataliemac, @tylerdigital

Requiring review from 'cynhu92' ci bypass
  .github/code-review/require-person/cynhu92/PR-24
Owners: @cynhu92

Apply ugly hacky fix for Elementor popup duplicating DA images
  public/assets/js/public.js
Owners: @nataliemac

Requiring review from 'gnarza' ci bypass
  .github/code-review/require-person/gnarza/PR-25
Owners: @gnarza

Requiring review from 'cynhu92' ci bypass
  .github/code-review/require-person/cynhu92/PR-25
Owners: @cynhu92

Cleanup of required reviewers files
  .github/code-review/require-person/cynhu92/PR-24
Owners: @cynhu92

Cleanup of required reviewers files
  .github/code-review/require-person/cynhu92/PR-25
  .github/code-review/require-person/gnarza/PR-25
Owners: @cynhu92, @gnarza

minor fix
  .github/workflows/release.yml
Owners: @nataliemac

Update to 2.0.10 [version-bump]
  draw-attention.php
  package.json
  public/class-drawattention.php
  readme.txt
Owners: @tylerdigital, @nataliemac

test
  .github/workflows/test.yml
Owners: @nataliemac

test
  .github/workflows/test.yml
Owners: @nataliemac

test
  .github/workflows/test.yml
Owners: @nataliemac

test
  .github/workflows/test.yml
Owners: @nataliemac

test
  .github/workflows/test.yml
Owners: @nataliemac

test
  .github/workflows/test.yml
Owners: @nataliemac

test
  .github/workflows/test.yml
Owners: @nataliemac

test
  .github/workflows/test.yml
Owners: @nataliemac

test
  .github/workflows/test.yml
Owners: @nataliemac

test
  .github/workflows/test.yml
Owners: @nataliemac

CODEOWNERS:

# Any change inside the `/` directory
# will require approval from @nataliemac.
* @nataliemac

# Except for any PHP files
*.php @tylerdigital

# Explicitly required reviewers can be set for each PR by modifying something in the following paths
.github/code-review/require-person/aminabdulkhalek/PR-* @aminabdulkhalek
.github/code-review/require-person/cynhu92/PR-* @cynhu92
.github/code-review/require-person/Hamze-Ammar/PR-* @Hamze-Ammar
.github/code-review/require-person/hsein-bitar/PR-* @hsein-bitar
.github/code-review/require-person/MariamElZaatari/PR-* @MariamElZaatari
.github/code-review/require-person/gnarza/PR-* @gnarza
.github/code-review/require-person/NatalieMac/PR-* @NatalieMac
.github/code-review/require-person/tylerdigital/PR-* @tylerdigital

.github/code-review/require-team/backend-development/PR-* @nsquared-team/backend-development
.github/code-review/require-team/frontend-development/PR-* @nsquared-team/frontend-development
.github/code-review/require-team/quality-assurance/PR-* @nsquared-team/quality-assurance
.github/code-review/require-team/customer-support/PR-* @nsquared-team/customer-support
